body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 20px;
}
input {
    margin: 20px;
    background-color: yellow;
}
input:hover {
    background-color: yellowgreen;

}

div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}

.button {
    margin-left: 0px;
    background-color: skyblue;
    font-weight: bold;
}

/* .contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}

.form_hint, .required_notification {font-size: 11px;} */